In [106]:
# Imports
import pandas as pd
import numpy as np

#Visuals 
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

#Import Models
from sklearn.tree import DecisionTreeClassifier
from sklearn import ensemble
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score

#Ignore warnings 
import warnings
warnings.filterwarnings("ignore")

#Time
import time

In [107]:
df = pd.read_csv('StudentsPerformance.csv')
df.rename(columns={'parental level of education':'parents_ed','test preparation course':'test_prep','math score': 'math', 'reading score':'reading', 'writing score': 'writing'}, inplace=True)
df.head(10)

,gender,race/ethnicity,parents_ed,lunch,test_prep,math,reading,writing
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
7,male,group B,some college,free/reduced,none,40,43,39
8,male,group D,high school,free/reduced,completed,64,64,67
9,female,group B,high school,free/reduced,none,38,60,50

In [108]:
df['gender'] = pd.Series(np.where(df.gender.values == 'female', 1, 0),df.index)
df['lunch'] = pd.Series(np.where(df.lunch.values == 'free/reduced', 1, 0),df.index)
df['test_prep'] = pd.Series(np.where(df.test_prep.values == 'completed',1,0),df.index)
df['parents_ed'] = np.where((df['parents_ed'].isin(['bachelor\'s degree', 'associate\'s degree', 'master\'s degree'])), 1, 0)
df['score'] = (df['math']+df['reading']+df['writing'])
df.drop(['reading','writing','race/ethnicity'], axis=1, inplace=True)
df

     gender  parents_ed  lunch  test_prep  math  score
0         1           1      0          0    72    218
1         1           0      0          1    69    247
2         1           1      0          0    90    278
3         0           1      1          0    47    148
4         0           0      0          0    76    229
5         1           1      0          0    71    232
6         1           0      0          1    88    275
7         0           0      1          0    40    122
8         0           0      1          1    64    195
9         1           0      1          0    38    148
10        0           1      0          0    58    164
11        0           1      0          0    40    135
12        1           0      0          0    65    219
13        0           0      0          1    78    220
14        1           1      0          0    50    161
15        1           0      0          0    69    222
16        0           0      0          0    88    263
17        1           0      1          0    18     78
18        0           1      1          1    46    134
19        1           1      1          0    54    173
20        0           0      0          0    66    198
21        1           0      1          1    65    210
22        0           0      0          0    44    151
23        1           0      0          0    69    215
24        0           1      1          1    74    225
25        0           1      1          0    73    219
26        0           0      0          0    69    178
27        1           1      0          0    67    211
28        0           0      0          0    70    205
29        1           1      0          0    62    207
..      ...         ...    ...        ...   ...    ...
970       1           1      0          0    89    289
971       0           0      0          1    78    219
972       1           0      1          1    53    163
973       1           0      1          0    49    175
974       1           0      0          0    54    184
975       1           0      0          1    64    223
976       0           0      1          1    60    182
977       0           1      0          0    62    185
978       0           0      0          1    55    144
979       1           1      0          0    91    280
980       1           0      1          0     8     55
981       0           0      0          0    81    237
982       0           0      0          1    79    250
983       1           0      0          1    78    256
984       1           0      0          0    74    231
985       0           0      0          0    57    162
986       1           1      0          0    40    150
987       0           0      0          1    81    232
988       1           0      1          0    44    134
989       1           0      1          1    67    236
990       0           0      1          1    86    242
991       1           0      0          1    65    225
992       1           1      1          0    55    207
993       1           1      1          0    62    208
994       0           0      0          0    63    188
995       1           1      0          1    88    282
996       0           0      1          0    62    172
997       1           0      1          1    59    195
998       1           0      0          1    68    223
999       1           0      1          0    77    249

[1000 rows x 6 columns]

In [109]:
X = df.drop('score', 1)
Y = df['score']
X = pd.get_dummies(X)
X = X.dropna(axis=1)

#Split the data into training and validation
X_train, X_test, y_train, y_test = train_test_split(X,Y)

In [110]:
#Create single tree
start_time = time.time()
dt = DecisionTreeClassifier(criterion='entropy',max_features=1, max_depth=4,)
model = dt.fit(X_train, y_train)

#prediction = dt.predict(X_test)
print(dt.score(X_test, y_test))
print("--- %s seconds ---" % (time.time() - start_time))

0.012
--- 0.00364112854004 seconds ---

In [111]:
# Create forest
start_time = time.time()
rfc = RandomForestClassifier()
model = rfc.fit(X_train, y_train)
#prediction = rfc.predict(X_test)
print(rfc.score(X_test, y_test))
print("--- %s seconds ---" % (time.time() - start_time))

0.028
--- 0.0655908584595 seconds ---

Though we can tell here our features aren't very telling of our outco